QPushButton:active {
    border-radius: 10;
    background-color: QLinearGradient(x1: 0, y1:1, x2:1, y2:0, stop:0 rgba(237, 172, 20, 255), stop:1 rgba(255, 102, 0, 255));
    color: rgb(253, 253, 253);
    height: 100;
    width:250;
    position: relative
    }
QPushButton:disabled {
    border-radius: 10;
    background-color: QLinearGradient(x1: 0, y1:1, x2:1, y2:0, stop:0 rgba(237, 172, 20, 255), stop:1 rgba(255, 102, 0, 255));
    color: rgb(253, 253, 253);
    height: 100;
    width:250;
    position: relative
    }
QPushButton:hover {
    background-color: QLinearGradient(x1:0, y1:1, x2:1, y2:0, stop:0 rgba(247, 182, 30, 255), stop:1 rgba(255, 112, 10, 255));
    color: rgb(255, 255, 255)
} 
QPushButton:pressed {
    background-color: QLinearGradient(x1:0, y1:1, x2:1, y2:0, stop:0 rgba(255, 200, 30, 255), stop:1 rgba(255, 130, 20, 255));
    color: rgb(255, 255, 255)
} 